.Board_Menu{
	width: 10%;
    font-size: 18px;
    height: 30px;
    color: black;
    transition: opacity 0.5s;
    cursor: pointer;
}

#usersList{
    width: 70%;
    height: 70%;
    box-shadow: inset 0px 0px 10px #666;
}
#usersMenu{
    border-collapse: separate;
    border-spacing: 0 25px;
    width: 90%;
    text-align: center;
}
#usersTitle{
    height: 60px;
    width: 90%;
    font-size: 1.2em;
}
.commentRequest{
    font-size: 1.1em;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 5px #444;
    border-radius: 5px;
}
button.add_td_Tag{
    width: 50px;
    margin: 15px 15px 0 0;
    font-size: 15px;
    cursor: pointer;
}

#pageContainer{
    margin-top: 25px;
    font-size: 25px;
    color: #666;
}
#prePage, #nextPage{
    cursor: pointer;
}
#pageNum{
    margin-left: 15px;
    margin-right: 15px;
}