#userName, #mainLogOut, #mainMyPage, #mainAdmin {
    width: 20%;
    display: none;
}

#userImageList, #expertInfoList {
    margin-bottom: 30px;
    height: 200px;
    display: block;
}
#moreViewUserList, #moreViewExpertList {
    display: block;
    color: red;
    text-align: right;
    margin-right: 60px;
}
#menuBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72%;
    margin-left: 14%;
    height: 35px;
}

#menuTable {
    text-align: center;
}

.userMenu, .expertMenu {
    display: inline-block;
    margin: 0 10px;
    width: 150px;
    text-align: center;
}

.userMenu > a, .expertMenu > a {
    display: block; 
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    text-decoration: none;
}



#userImageList {
    background-color: green;
}
#userTable {
    background-color: lightgreen;
}
.userTd {
    text-align: center;
}
#expertInfoList {
    background-color: orange;
}
#expertTable {
    background-color: lightcoral;
    width: 80%;
}
.expertTd {
    text-align: center;
}

.star-ratings {
    display: inline-block;
    color: #aaa9a9; 
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #2b2a29;
  }

  .star-ratings-fill {
    color: #fff58c;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: gold;
  }

  .star-ratings-base {
    z-index: 0;
    padding: 0;
  }