#mainLogOut, #mainMyPage, #mainAdmin {
    display: none;
}

#mainMenuBar {
    color: black;
}

#userImageList, #expertInfoList {
    margin-bottom: 30px;
    height: 200px;
    display: block;
}
#moreViewUserList, #moreViewExpertList {
    display: block;
    color: red;
    text-align: right;
    margin-right: 60px;
}
#menuBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
    border: 1px solid red;
}
#menuTable{
    width: 80%;
    margin: 0 auto;
    border: 1px solid blue;
    justify-content: space-around;
}
.userMenu, .expertMent{
    text-align: left;
    flex-grow: 1;
    font-size: 20px;
    margin: 0 10px;
}
.userMenu:hover, .expertMenu:hover{
    background-color: black;
    color: white;
}
#userImageList {
    background-color: green;
}
#userTable {
    background-color: lightgreen;
}
.userTd {
    text-align: center;
}
#expertInfoList {
    background-color: orange;
}
#expertTable {
    background-color: lightcoral;
    width: 80%;
}
.expertTd {
    text-align: center;
}
